.display_size{
    height: 330px;
    width: 450px;
}

label{
    margin-top: 10px;
}


form.add-hostel-form{
    position: absolute;
/*    margin: auto;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -18%);
    border: solid #000;
    border-radius: 5px;
    border-width: thin;
    padding: 1% 5%;
/*    background: #ddd;*/
}